aiosqlite==0.21.0
fastapi==0.115.1
uvicorn==0.35.0
passlib[bcrypt]==1.7.4
httpx==0.27.0
python-jose==3.3.0
python-multipart==0.0.6
pydantic==1.10.15
SQLAlchemy==2.0.30

# только если тесты нужны на сервере (необязательно)
pytest==8.2.1
pytest-asyncio==0.23.5
